@(regForm: Form[models.User])
@import helper._

@helper.form(routes.ApplicationUserApi.userRegistration){
	        
    @if(regForm.hasGlobalErrors) { 
        <p class="error">
            @regForm.globalError.message
        </p>
    }
    
    @if(flash.contains("success")) {
        <p class="success">
            @flash.get("success")
        </p>
    }

    @inputText(regForm("email"))
    @inputText(regForm("name"))
    @inputText(regForm("password"))
    @inputText(regForm("androidId"))



    <input type="submit" value="Create">










}